/*Here goes css code of index.html file*/

/*Here are poppins fonts*/

/* Poppins Light*/
@font-face{
    font-family: 'Poppins Light';
    src: url(../font-files/Poppins_fonts/Poppins-Light.ttf) format(truetype);
}

/* Poppins Regular*/
@font-face{
    font-family: 'Poppins Regular';
    src: url(../font-files/Poppins_fonts/Poppins-Regular.ttf) format(truetype);
}

/* Poppins Medium*/
@font-face{
    font-family: 'Poppins Medium';
    src: url(../font-files/Poppins_fonts/Poppins-Medium.ttf) format(truetype);
}

/* Poppins SemiBold*/
@font-face{
    font-family: 'Poppins SemiBold';
    src: url(../font-files/Poppins_fonts/Poppins-SemiBold.ttf) format(truetype);
}

/* Poppins Bold*/
@font-face{
    font-family: 'Poppins Bold';
    src: url(../font-files/Poppins_fonts/Poppins-Bold.ttf) format(truetype);
}

/*CSS variables*/

:root{

    /*font sizes*/
    --font-extra-small: 0.7rem;
    --font-small: 1rem;
    --font-mediun: 2rem;
    --font-large: 3rem;
    --font-extra-large: 4rem;

    /*colors*/
    --text-black-color: #000;
    --text-white-color: #fff;

    /*border-radius*/
    --rounded-border-radius: 50%;
    --semi-rounded-border-radius: 25px;
    --quarter-rounded-border-radius: 15px;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
}

header{
    background-image: url(../images/header-img/architecture-header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header-img/architecture-header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left{
    width: 50%;
    height: 100%;
    display: flex;
}

.title{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-family: 'Poppins SemiBold';
    color: var(--text-white-color);
    font-size: var(--font-large);
}

.nav-left-items{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-left-items ul li a{
    color: var(--text-white-color);
    font-family: 'Poppins SemiBold';
    font-size: 0.8rem;
    position: relative;
    padding-bottom: 20%;
}

.nav-left-items ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s linear;
}

.nav-left-items ul li a:hover::before{
    width: 100%;
}

.nav-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right: 5%;
}

.nav-right input{
    background-color: #d9d9d960;
    width: 10%;
    height: 60%;
    border-radius: 50px;
    border: none;
    backdrop-filter: blur(15px);
    color: var(--text-white-color);
    font-family: 'Poppins Regular';
    transition: transform 0.3s linear, width 0.3s linear;
    position: relative;
}

#search-icon{
    position: absolute;
    left: 86%;
    color: #fff;
    font-size: 1.5rem;
    opacity: 1;
}

.nav-right input:hover + #search-icon {
    display: none;
}

.nav-right input:hover{
    backdrop-filter: blur(5px);
    transform: scale(0.98);
    width: 35%;
    height: 60%;
    border-radius: 50px;
}

.nav-right input:hover::placeholder{
    opacity: 1;
    padding-left: 10%;
    font-family: 'Poppins Regular';
}

.nav-right input::placeholder{
    color: var(--text-white-color);
    opacity: 0;
}

.nav-right input:focus{
    border: 1px solid white;
    outline: none;
    font-family: 'Poppins Regular';
    padding-left: 3%;
}

.nav-right button{
    padding: 15px;
    background-color: transparent;
    border: none;
    color: var(--text-white-color);
    font-size: 1.5rem;
}

/*Here goes header-footer*/

.header-footer{
    position: relative; /*position:relative and z-index:2 is used to put the footer on the header layer*/
    z-index: 2;
    width: 100%;
    height: 45vh;
    display: flex;
}

.header-footer-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2% 5%;
}

.header-footer-sllogan span{
    font-family: 'Poppins SemiBold';
    font-size: var(--font-large);
    color: var(--text-white-color);
    padding-bottom: 2%;
    position: relative;
}

.header-footer-sllogan span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 8%;
    backdrop-filter: blur(15px);
    background-color: #d9d9d97a;
    border-radius: 25px;
}

.header-footer-text p{
    color: #fff;
    font-family: 'Poppins Regular';
    font-size: var(--font-small);
    padding-top: 2%;
}

.header-footer-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10%;
    padding-bottom: 4%;
}

.header-footer-right a{
    background-color: #d9d9d960;
    width: 50%;
    border-radius: 50px;
    height: 26%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins Regular';
    backdrop-filter: blur(10px);
    color: #fff;
    transition: backdrop-filter 0.3s linear, transform 0.3s ease-in;
}

.header-footer-right a:hover{
    backdrop-filter: blur(1px);
    transform: scale(0.95);
}

.header-footer-right a i{
    transition: transform 0.2s linear;
}

.header-footer-right a:hover i{
    transform: rotate(330deg);
}


