/* Here goes the style for the contact form*/


/* Questrial Font */


@font-face{
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.otf') format('opentype')
}

@font-face{
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins_fonts/Poppins-Bold.ttf) format('opentype')
}

@font-face{
    font-family: 'Poppins Medium';
    src: url(../fonts/Poppins_fonts/Poppins-Medium.ttf) format('opentype')
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: 'Questrial', sans-serif;
}

.container{
    min-height: 100vh;
    background-image: url(../images/HEADER-img.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 1;
}

.contact-informations{
    width: 100%;
    min-height: 80vh;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.contact-informations h2{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: clamp(2rem, 2.5vw, 2.8rem);
    font-family: 'Poppins Bold';
}

.contact-informations p{
    font-size: clamp(0.9rem, 1.2vw, 1.8rem);
    width: 80%;
    margin: 0 auto;
    color: #fff;
    
    font-family: 'Poppins Medium';
}

.contact-icons{
    background-color: #000;
    z-index: 3;
    width: 90%;
    border-radius: 50px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-icons{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    gap: 10px;
}

.general-icons ul li a{
    color: #000;
    font-size: clamp(1.3rem, 1.5vw, 1.6rem);
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 50px;
}

.modes{
    background-color: rgb(255, 255, 255);
    width: 48%;
    height: 90%;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.modes ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    transform: translateX(2px);
    background-color: black;
    color: #fff;
    width: 85px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: transform 0.3s linear;
}

#container.active{
    transform: translateX(95px);
    background-color: #d8d8d8;
    color: #000;
}

#dark-icon{
    opacity: 1;
    position: absolute;
}

#dark-icon.hide{
    opacity: 0;
    color: #000;
}

#light-icon{
    position: absolute;
    opacity: 0;
}

#light-icon.show{
    opacity: 1;
}







