/* Code for index.html file*/


/*fonts*/

/*Poppins font*/

@font-face{
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.otf') format('opentype')
}


/* ================= HEADER ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: 'Questrial', sans-serif;
}

header {
  position: relative;
  height: 100vh;
  background-image: url('../images/header-img/HEADER-img.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

/* Overlay mbi hero */
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  z-index: 1;
}

/* HEADER CONTAINER */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* rreshton logo + hamburger */
  padding: 20px 40px;
  position: relative;
  z-index: 10; /* mbi overlay */
}

/* LOGO */
.logo {
  font-size: 2rem;
  font-weight: bold;
}

/* HAMBURGER */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute; /* fixed që të mbetet mbi menu */
  top: 25px; /* vendos në të njëjtin nivel me logo */
  right: 40px;
  z-index: 99; /* gjithmonë mbi menu */
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
  z-index: 17;
}

/* HAMBURGER ANIMACIONI */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* FULLSCREEN NAV MENU */
nav#nav-menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000d2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 20px 20px;
  transition: left 0.3s ease;
  z-index: 3; /* to lay on hero section */
}

#nav-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

#nav-menu ul li{
  list-style: none;
}

#nav-menu ul li a{
  font-size: 4rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s linear, font-size 0.3s linear;
  position: relative;
}

#nav-menu ul li a:hover{
  color: #ffffffb6;
  font-size: 3rem;
}

#nav-menu ul li a::before{
  content: '';
  position: absolute;
  left: -50px;
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  transition: width 0.3s linear;
  transform: translateY(10px);
}

#nav-menu ul li a:hover::before{
    width: 6px;
    height: 30px;  
}

nav#nav-menu.active {
  left: 0;
}

.nav-images{
  display: none;
}

/* HERO CONTENT poshte në qoshe */
.hero-content {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px;
  z-index: 2;
  animation: header-sllogan 0.7s forwards;
}

/* SLOGANI poshtë në qoshe majte */
.hero-content .slogan {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 50%;
}

@keyframes header-sllogan{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(150px);
  }
  100%{
    transform: translateY(0px);
  }
}

/* CTA BUTTON poshtë në qoshe djathtë */
.cta-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 45px;
  background-color: #eeeeee;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s;
}

.cta-btn .arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  font-weight: 300;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.cta-btn .btn-text {
  position: relative;
  z-index: 2;
  margin-right: 10px;
  color: #000000;
}

.cta-btn:hover {
  background-color: #4e4e4e98;
  color: #000;
}
.cta-btn:hover .arrow-circle {
  transform: rotate(380deg);
  color: #ffffff;
}
.cta-btn:hover .btn-text {
  color: #ffffff;
}

/*Here features section*/

.features{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.features-title{
  width: 100%;
  padding: 10px 10px;
  font-weight: 300;
  height: 10vh;
  font-size: 1.7rem;
}

.features-text{
  width: 90%;
  margin: 4% auto;
  font-size: 1.3rem;
  text-align: center;
  animation: features-text;
  animation-timeline: view();
  animation-range: 10% 100%;
  color: #a6a6a6;
  opacity: 0.5;

}

@keyframes features-text{
  0%{
    color: #a6a6a6;
    opacity: 0.5;
  }
  100%{
    color: #000;
    opacity: 1;
  }
}

.features-cards{
  width: 100%;
  margin-top: 3%;
  display: grid;
  place-items: center;
  grid-template-columns:repeat(1, 1fr);

}

.card{
  width: 90%;
  height: 65%;
  aspect-ratio: 3 / 4;
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.card.reveal{
  transform: scale(1);
  opacity: 1;
}

.img-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.img-container img{
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  object-fit: cover;
  transition: transform 0.3s linear;
}

.img-container img:hover{
  transform: scale(0.98);
}

.img-container p{
  position: absolute;
  right: 0;
  bottom: -6%;
  color: #a6a6a6;
  font-weight: 600;
}

.features-btn{
  background-color: #000000;
  padding: 10px 20px;
  position: absolute;
  bottom: 0%;
  right: 2%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 1.4rem;
  border-radius: 50px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(60px) scale(0.9);
  transition: background-color 0.2s linear,
  backdrop-filter 0.3s linear;
}

.features-btn:hover{
  background-color: #000000b6;
}

.features-btn.reveal{
  opacity: 1;
  transform: translateY(0) scale(1);
}

.features-btn i{
  font-size: 2rem;
}

.services-section{
  background-color: #191919;
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.service-left{
  width: 100%;
  height: 69vh;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}
.service-left-title{
  padding: 10px 20px;
}

.service-left-title h4{
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline-block;
}

.service-num{
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-right: 20px;
  padding: 5px 12.5px;
  color: #d9d9d9;
  font-weight: 700;
}

.service-left-items{
  padding: 10px 20px;
  width: 100%;
  background-color: #1a1a1a;
}

.service-left-items ul{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.service-left-items ul li a{
  color: #fff;
  font-weight: 700;
  font-size: clamp(2rem, 4.5vw, 5rem);
}

.services-small-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(200px, 40vh, 900px);
  max-width: 850px;
  position: relative;
}

.services-small-img img{
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.small-img-overlay::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.212);
}

.service-big-img{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  position: relative;
}
.service-big-img img{
  width: 90%;
  height: 90%;
  object-fit: cover;
}


/*.fade class it is created to create a smooth change when images move from the small image to big image*/
.fade{
  opacity: 0;
  transform: scale(0.98);
}

.services-small-img img, .service-big-img img{
  transition: opacity 0.3s ease, transform 0.3s ease;

}

.big-img-overlay::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.212);
}

.big-img-btn{
  position: absolute;
  right: 7%;
  bottom: 7%;
  z-index: 2;
  background-color: #000;
  padding: 35px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.3rem;
  transition: background-color 0.3s linear, transform 0.3s linear;
}

.big-img-btn:hover{
  background-color: rgba(0, 0, 0, 0.493);  
  border: 2px solid black;
  transform: scale(0.97);
}

#service-title{
  position: absolute;
  left: 5%;
  bottom: 6%;
  color: #fff;
  z-index: 20;
  font-size: 2.2rem;
  font-weight: 300;
}

.about-us{
  min-height: 150vh;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us-title{
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.about-us-title h4{
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
}

.about-us-title span{
  background-color: #5f5f5f;
  width: 25%;
  height: 3px;
  max-width: 25%;
}

.about-us-body{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-us-img{
  width: 90%;
  height: 45vh;
  max-width: 600px;
}

.about-us-img img{
  width: 100%;
  height: 100%;
}

.about-us-info{
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.main-title{
  width: 70%;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title h3{
  font-size: clamp(2rem, 2.5vw, 4rem);
  color: #fff;
  position: relative;
}

.main-title h3::before{
  content: '';
  position: absolute;
  left: 2%;
  bottom: -10%;
  background-color: #fff;
  width: 25%;
  height: 2px;
}

.main-text{
  width: 90%;
  margin: auto;
}

.main-text p{
  color: #fff;
  font-size: clamp(1.2rem,2vw,3rem);
  line-height: 26px;
}

.about-us-stats{
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.stats-title{
  height: 7vh;
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.stats-title h4{
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  color: #fff;
}


.stats-title span{
  width: 35%;
  background-color: #5f5f5f;
  height: 3px;
}

.stats{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}


.stat{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  text-align: center;
}

.stat h4{
  font-size: clamp(3rem, 3vw, 3.5rem);
  text-align: center;
  color: #fff;
}

.stat p{
  color: #fff;
}

.return-top{
  background-color: #0808089f;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  position: fixed;
  z-index: 100;
  bottom: 5%;
  right: 5%;
  opacity: 0;
  transition: opacity 0.3s linear, height 0.9s linear;
}

.return-top.active{
  opacity: 1;
  height: 12vh;
  
}

@keyframes return-top{
    0%{
      height: 75px;
    }
    50%{
      height: 150px;
    }
    100%{
      height: 75px;
    }
}

.return-top a i{
  font-size: 1.5rem;
  color: #fff;
}

/*Here starts responsive design*/
@media (min-width: 600px){

  .features-text{
    width: 60%;
    font-size: 2rem;
  }
  .features-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services-section{
    display: flex;
    flex-direction: row;
    min-height: 70vh;
  }

  .service-left-title h4::after{
    max-width: 300px;
  }

  .services-small-img{
    min-height: 33vh;
    width: 100%;
  }

  .service-big-img{
    height: 72vh;
    width: 100%;
  }

  .about-us{
    min-height: 130vh;
  }

  .about-us-body{
    min-height: 75vh;
  }

  .about-us-info{
    height: 25vh;
    gap: 15px;
  }
}




/* RESPONSIVE */
@media (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .hero-content .slogan {
    font-size: 2rem;
    max-width: 100%;
  }

  .services-small-img img{
    width: 95%;
    margin: auto;
  }
}

@media (min-width:1025px){
  .nav-images{
    display: block;
  }

  #nav-menu ul li a{
    font-size: 2.7rem;
  }

  #nav-menu ul li a:hover{
    font-size: 2.4rem;
  }

  .nav-images{
    transition: transform 0.3s linear;

  }

  .nav-images:hover{
    transform: scale(0.99);
  }

  .images{
    opacity: 1;
    transition: opacity 0.3s linear;
  }

  #images.on{
    opacity: 0;
  }

  .nav-images{
    width: 85%;
    max-width: 800px;
    height: 75%;
    position: relative;
}

  .nav-images::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #00000048;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s linear;
  }

  .nav-images:hover .nav-img-btn{
    opacity: 1;
  }

  .nav-images:hover::after {
    opacity: 1;
  }

  .nav-img-btn{
      z-index: 2;
      gap: 55px;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.7rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.3s linear;
  }

  .link:hover{
      color: #fff;
  }

  .line{
      width: 25%;
      height: 2px;
      background-color: #fff;
      z-index: 2;
  }

  .nav-images img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .features-text{
    width: 50%;
    font-size: 2rem;
  }

  .features-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .card{
    width: 80%;
    height: 80%;
    aspect-ratio: 3 / 4;
  }

  .img-container p{
    bottom: -10%;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s linear, transform 0.3s linear;
  }

  .img-container:hover p{
    opacity: 1;
    transform: translateY(0px);
  }

  .features-btn{
    position: absolute;
    bottom: 4%;
  }

  .services-section{
    min-height: 80vh;
  }

  .service-left-items{
    padding: 30px 20px; /*Padding used to make the space between neighboor elements equal*/
  }

  .service-left-items ul li{
    transition: transform 0.3s linear;
  }

  .service-left-items ul li a{
    font-size: 2.5rem;
  }

  .service-left-items ul li:hover{
    transform: translateX(25px);
  }

  .service-left{
    height: 80vh;
    
  }

  .services-small-img{
    width: 100%;
    max-width: 850px;
    padding: 0% 0% 2% 2%;
    
  }

  .services-small-img img{
    width: 100%;
    height: 100%;
  }

  .service-big-img{
    height: 80vh;
  }

  .service-big-img img{
    width: 95%;
    height: 95%;
  }

  .about-us{
    min-height: 40vh;
    display: flex;
  }

  .about-us-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }

  .about-main-img{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img-container{
    width: 70%;
    height: 100%;
    margin-top: 4%;
  }


}

@media(min-width: 1441px){
  .service-big-img{
    max-width: 1000px;
  }

  .service-left .services-small-img{
    max-width: 1200px;
    min-height: 440px;
  }
}




