/* Code for index.html file*/


/*fonts*/

/*Poppins font*/

@font-face{
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.otf') format('opentype')
}


/* ================= HEADER ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: 'Questrial', sans-serif;
}

header {
  position: relative;
  height: 100vh;
  background-image: url('../images/header-img/header-img.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
}

/* Overlay mbi hero */
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  z-index: 1;
}

/* HEADER CONTAINER */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* rreshton logo + hamburger */
  padding: 20px 40px;
  position: relative;
  z-index: 10; /* mbi overlay */
}

/* LOGO */
.logo {
  font-size: 2rem;
  font-weight: bold;
}

/* HAMBURGER */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute; /* fixed që të mbetet mbi menu */
  top: 25px; /* vendos në të njëjtin nivel me logo */
  right: 40px;
  z-index: 99; /* gjithmonë mbi menu */
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
  z-index: 17;
}

/* HAMBURGER ANIMACIONI */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* FULLSCREEN NAV MENU */
nav#nav-menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #0000006c;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 20px 20px;
  transition: left 0.3s ease;
  z-index: 3; /* to lay on hero section */
}

#nav-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

#nav-menu ul li{
  list-style: none;
}

#nav-menu ul li a{
  font-size: 4rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s linear, font-size 0.3s linear;
  position: relative;
}

#nav-menu ul li a:hover{
  color: #ffffffb6;
  font-size: 3rem;
}

#nav-menu ul li a::before{
  content: '';
  position: absolute;
  left: -50px;
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  transition: width 0.3s linear;
  transform: translateY(10px);
}

#nav-menu ul li a:hover::before{
    width: 6px;
    height: 30px;  
}

nav#nav-menu.active {
  left: 0;
}

.nav-images{
  display: none;
}

/* HERO CONTENT poshte në qoshe */
.hero-content {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px;
  z-index: 2;
  animation: header-sllogan 0.7s forwards;
}

/* SLOGANI poshtë në qoshe majte */
.hero-content .slogan {
  font-size: 2.5rem;
  font-weight: 600;
  max-width: 50%;
}

@keyframes header-sllogan{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(150px);
  }
  100%{
    transform: translateY(0px);
  }
}

/* CTA BUTTON poshtë në qoshe djathtë */
.cta-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 45px;
  background-color: #eeeeee;
  color: #000;
  font-weight: bold;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s;
}

.cta-btn .arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  font-weight: 300;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.cta-btn .btn-text {
  position: relative;
  z-index: 2;
  margin-right: 10px;
  color: #000000;
}

.cta-btn:hover {
  background-color: #4e4e4e98;
  color: #000;
}
.cta-btn:hover .arrow-circle {
  transform: rotate(380deg);
  color: #ffffff;
}
.cta-btn:hover .btn-text {
  color: #ffffff;
}

/*Here features section*/

.features{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.features-title{
  width: 100%;
  padding: 10px 10px;
  font-weight: 300;
  height: 10vh;
  font-size: 1.7rem;
}

.features-text{
  width: 90%;
  margin: 4% auto;
  font-size: 1.3rem;
  text-align: center;
  animation: features-text;
  animation-timeline: view();
  animation-range: 10% 100%;
  color: #a6a6a6;
  opacity: 0.5;

}

@keyframes features-text{
  0%{
    color: #a6a6a6;
    opacity: 0.5;
  }
  100%{
    color: #000;
    opacity: 1;
  }
}

.features-cards{
  width: 100%;
  margin-top: 3%;
  display: grid;
  place-items: center;
  grid-template-columns:repeat(1, 1fr);

}

.card{
  width: 90%;
  height: 65%;
  aspect-ratio: 3 / 4;
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.card.reveal{
  transform: scale(1);
  opacity: 1;
}

.img-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.img-container img{
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  object-fit: cover;
  transition: transform 0.3s linear;
}

.img-container img:hover{
  transform: scale(0.98);
}

.img-container p{
  position: absolute;
  right: 0;
  bottom: -6%;
  color: #a6a6a6;
  font-weight: 600;
}

.features-btn{
  background-color: #000;
  width: 240px;
  height: 80px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 1.4rem;
  border-radius: 50px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(60px) scale(0.9);
  transition: background 0.3s linear,
    backdrop-filter 0.3s linear,
    outline 0.3s linear,
    opacity 0.3s linear,
    transform 0.3s linear;
}

.features-btn.reveal{
  opacity: 1;
  transform: translateY(0) scale(1);
}

.features-btn i{
  font-size: 2rem;
}

.features-btn:hover{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.233), rgba(245, 245, 245, 0.096));
  backdrop-filter: blur(15px);
}

@media (min-width: 600px){

  .features-text{
    width: 60%;
    font-size: 2rem;
  }
  .features-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .hero-content .slogan {
    font-size: 2rem;
    max-width: 100%;
  }

}

@media (min-width:1025px){
  .nav-images{
    display: block;
  }

  #nav-menu ul li a{
    font-size: 2.7rem;
  }

  #nav-menu ul li a:hover{
    font-size: 2.4rem;
  }

  .nav-images{
    transition: transform 0.3s linear;

  }

  .nav-images:hover{
    transform: scale(0.99);
  }

  .images{
    opacity: 1;
    transition: opacity 0.3s linear;
  }

  #images.on{
    opacity: 0;
  }

  .nav-images{
    width: 85%;
    max-width: 800px;
    height: 75%;
    position: relative;
}

.nav-images::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000048;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.nav-images:hover .nav-img-btn{
  opacity: 1;
}

.nav-images:hover::after {
  opacity: 1;
}


.nav-img-btn{
    z-index: 2;
    gap: 55px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.link:hover{
    color: #fff;
}

.line{
    width: 25%;
    height: 2px;
    background-color: #fff;
    z-index: 2;
}

.nav-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features-text{
  width: 50%;
  font-size: 2rem;
}

.features-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.card{
  width: 80%;
  height: 80%;
  aspect-ratio: 3 / 4;
}

.img-container p{
  bottom: -10%;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.img-container:hover p{
  opacity: 1;
  transform: translateY(0px);
}

.features-btn{
  width: 240px;
  height: 60px;
}

}


