/* Here goes the style for the projects.html page */

/*fonts*/

@font-face{
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.otf') format('opentype')
}

@font-face{
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins_fonts/Poppins-Bold.ttf) format('opentype')
}

@font-face{
    font-family: 'Poppins Medium';
    src: url(../fonts/Poppins_fonts/Poppins-Medium.ttf) format('opentype')
}


/* ================= HEADER ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
