/* Here goes CSS style for the file services.html*/

@font-face{
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.otf') format('opentype')
}

@font-face{
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins_fonts/Poppins-Bold.ttf) format('opentype')
}

@font-face{
    font-family: 'Poppins Medium';
    src: url(../fonts/Poppins_fonts/Poppins-Medium.ttf) format('opentype')
}

@font-face{
    font-family: 'Poppins Light';
    src: url(../fonts/Poppins_fonts/Poppins-Light.ttf) format('opentype')
}

@font-face{
    font-family: 'Poppins Regular';
    src: url(../fonts/Poppins_fonts/Poppins-Regular.ttf) format('opentype')
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.services-container{
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.services-header-sllogan{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 4%;
    align-items: center;
}

.services-header-sllogan h1{
    font-family: "Poppins Regular";
    font-weight: 400;
    width: 90%;
    line-height: 35px;
    font-size: clamp(2rem, 3.5vw, 5rem);
}

.services-text{
    font-family: "Questrial";
    width: 95%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.services-text p{
    font-size: clamp(1.2rem, 2.4vw, 3.1rem);
}

.services-boxes{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 25px;
}

.box{
    width: 90%;
    height: 35vh;
    position: relative;
    border-radius: 8px;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.overlay-text{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;
    background: linear-gradient(to top, #000000bb, #0000001c);
}

.overlay-text:hover{
    opacity: 1;
}

.service-number{
    width: 100%;
    z-index: 2;
    padding: 4% 4%;
}

.service-number h3{
    font-family: "Poppins Medium";
    color: #fff;
    font-size: clamp(1.4rem, 1.6vw, 2rem);
}

.service-type{
    width: 100%;
    z-index: 2;
    padding: 4% 4%;
}

.service-type h2{
    font-family: "Poppins Light";
    color: #fff;
    font-size: clamp(1.4rem, 1.6vw, 2rem);
}

#first-box{
    margin-top: 4%;
}

#last-box{
    margin-bottom: 4%;
}

.service-cta-button{
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0% 5%;
    height: 10vh;
}

.service-cta-button button{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #000;
    border-color: transparent;
    position: relative;
    transition: background-color 0.4s ease-in;
}

.service-cta-button button:hover{
    background-color: #0000008a;
}

.service-cta-button button::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: width 0.3s linear, transform 0.4s ease;
}

.service-cta-button button:hover::before{
    width: 100%;
    transform: scaleX(1);
}

.service-cta-button button a{
    color: #fff;
    font-size: 1.1rem;
    font-family: "Questrial";
}

@media(min-width:768px){
    .services-boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: 0 auto;
    }

    .box{
        width: 95%;
        aspect-ratio: 1 / 1;
    }
}

@media(min-width:1024px){
    .services-boxes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        align-content: center;
    }

    .box{
        width: 90%;
        height: 90%;
    }

    #first-box{
        margin-top: 0%;
    }

    #last-box{
        margin-bottom: 0%;
    }

    .services-header-sllogan{
        width: 50%;
    }

    .services-header-sllogan h1{
        line-height: 50px;
    }

    .services-text{
        margin: 0 auto;
        width: 65%;
        text-align: justify;
    }

    .service-cta-button{
        position: fixed;
        bottom: 5%;
        right: 0%;
    }
}